.wcpa-wrap .wcpa-table th, .wcpa-wrap .wcpa-table td { vertical-align: middle; }
.wcpa-wrap .wcpa-inline { display: inline-block; margin-right: 12px; }
.wcpa-frontend-fields { margin: 1em 0; }
.wcpa-title { margin-bottom: .5em; }